/*	General		*/
body {
	margin: 0 auto;
	font-family: 'Ubuntu Mono', monospace;
	overflow: hidden;
}

#container {
	display: flex;
	height: 100vh;
}

#chrono, #tasks, #options {
        display: flex;
        flex-direction: column;
        align-items: center;
}
#chrono, #options { flex: 1; }

i { cursor: pointer; }

.lightTheme {
	background: Gainsboro;
	color: black;
}

.darkTheme {
	background: #262626;
	color: #e6e6e6;
}

.hide { visibility: hidden;}

.show { visibility: visible;}





/*	Crono		*/
#chrono {
	height: 85vh;
	justify-content: space-between;
}

#chrono-results {
	display: flex;
	width: 40%;
	justify-content: flex-start;
	font-size: 5vh;
}

#chrono-icons {
	width: 75%;
	display: flex;
	justify-content: space-around;
}





/*	Tasks		*/
#tasks {
	flex: 3;
	justify-content: start;
}

#text-tasks {
	font-family: 'Ubuntu Mono', monospace;
	width: 98%;
	padding: 1%;
	height: 77%;
	font-size: x-large;
	border: 2px solid;
	border-radius: 2px;
}





/*	Options		*/
#options {
	height: 100vh;
	justify-content: space-around;
}

#options-clock, #options-music, #options-contrast {
	display: flex;
	width: 100%; 
	align-items: center;
	justify-content: space-between;
}


#options-clock_icons, #options-music_icons, #options-contrast_icons { padding-right: 15%; }

#options-clock_results {
	display: flex;
	justify-content: flex-start;
	flex: 1;
	font-size: 4vh;
	padding-left: 25%;
}

#options-clock_results, #chrono-results { font-family: 'Digital-7', arial; }

#options-music_results {
	display: flex;
	justify-content: space-evenly;
	flex: 1;
	font-size: 1.5vh;
	padding-left: 5%;
}





/*	Media Queries		*/
@media (max-width: 780px) {

	#container { flex-direction: column; }

	#chrono, #tasks {
		flex-direction: row;
		flex: 1;
		justify-content: space-around;
	}

	#chrono-icons { width: 35%; }

	h1 { display: none; }

	#chrono-results, #options-clock_results { font-size: 6vh;}

	#text-tasks {
		width: 90%;
		height: 95%;
	}
}